
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> Custom SalmasKit Rules ###
# Ignore all environment files (keep .env.dist or .env.example if you have them)
/.env
/.env.dev
/.env.test

# Ignore local Docker overrides
/compose.override.yaml

# Ignore editor-specific settings
/.editorconfig
###< Custom SalmasKit Rules ###